/* MediaPort */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header{
        text-align:center;
        margin: auto;
        max-width: 100%;
        margin-bottom: 20px
    }
    
    .main-container{
        max-width: 100%;
        margin:auto;
        min-height: 100vh;
        background-color: white;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header{
        text-align:center;
        margin: auto;
        max-width: 500px;
        margin-bottom: 20px
    }
    
    .main-container{
        max-width: 500px;
        margin:auto;
        min-height: 100vh;
        background-color: white;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header{
        text-align:center;
        margin: auto;
        max-width: 800px;
        margin-bottom: 20px
    }
    
    .main-container{
        max-width: 800px;
        margin:auto;
        min-height: 100vh;
        background-color: white;
    }
}

body{
    background-image: url("../images/dulles_international_airport_washington.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.header{
    text-align:center;
    margin: auto;
    max-width: 800px;
    margin-bottom: 20px
}

.main-container{
    max-width: 800px;
    margin:auto;
    min-height: 100vh;
    background-color: white;
}

.instructions-container,
.timer-container,
.submit-container{
    text-align:center;
    margin: auto;
}

.timer-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.questions-container{
    display:none;
    text-align: left;
    margin: 20px;
}

.submit-container{
    display:none;
    margin-top: 30px;
    padding-bottom: 30px;
}

.cheat-mode-container{
    display: block;
    visibility: hidden;
    text-align:center;
    justify-content: center;
    margin: auto;
}

#collaspeCheatMode{
    border: lightgray .5px solid;
}

.card-source{
    display:none;
}

.radio-button{
    margin-left:10px;
}

.btn{
    margin: 3px;
}

/* smileys */
.fa-grin-wink{
    color: green;
}

.fa-question-circle{
    color: lightskyblue;
}

.fa-frown-open{
    color: red;
}

/* scroll bar */

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: 0ch;
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

